@model ABSM.Models.Contact

@{
    ViewBag.Title = "InfoDetails";
}

<h2>Message Details</h2>

    <div class="card-block">
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>

        </dl>
    </div>
    <p>

        @Html.ActionLink("Back to List", "Info")
    </p>
