@model IEnumerable<ABSM.Models.Contact>

@{
    ViewBag.Title = "Info";
}

<h2>Contact Messages</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Details", "InfoDetails", new { id=item.ContactID }) |
        </td>
    </tr>
}

</table>
